<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <h1>Products!</h1>
    {{#each products}}
   <div>
        <h1>Title: {{this.title}}</h1>
        <h2>Description: {{this.description}}</h2>
        <h2>Price: ${{this.price}}</li>
        <h3>Id: {{this.id}}</h3>
        <h3>Stock: {{this.stock}}</h3>
        <h4>Category: {{this.category}}</h4>
        <h5>Thumbnail: {{this.thumbnail}}</h5>
   </div>
    {{/each}}
</body>

</html>