<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <h1>Products!</h1>
   <ul id="productList">
        <li id="title"></li>
        <li id="description"></li>
        <li id="code"></li>
        <li id="price"></li>
        <li id="stock"></li>
        <li id="category"></li>
        <li id="thumbnail"></li>
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/products.js"></script>
</body>

</html>





 {{!-- {{#each products}}
    <ul id="productList">
        <li id="title">
            Product:{{this.title}}
        </li>
        <li id="description">
            Description:{{this.description}}
        </li>
        <li id="code">
            Code:{{this.code}}
        </li>
        <li id="price">
            Price:{{this.price}}
        </li>
        <li id="stock">
            Stock:{{this.stock}}
        </li>
        <li id="category">
            Category:{{this.category}}
        </li>
        <li id="thumbnail">
            Thumbnail:{{this.thumbnail}}
        </li>
    </ul>
    {{/each}} --}}